.ekyct-container,
.ekyct-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.ekyct-capture-region.ekyct-hide-shading .ekyct-shading,
.ekyct-dnone {
    display: none !important
}

.ekyct-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #202124;
    z-index: 999;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ekyct-container--inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
}

.ekyct-container--rotate {
    align-items: center;
    flex-direction: row
}

.ekyct-container--rotate .ekyct-capture-region {
    max-width: 620px;
    max-height: unset;
}

.ekyct-container--rotate .ekyct-footer,
.ekyct-container--rotate .ekyct-header {
    width: unset;
    height: 100%
}

.ekyct-container--rotate .ekyct-footer--inner,
.ekyct-container--rotate .ekyct-header--inner {
    width: unset;
    height: 100%;
    flex-direction: column-reverse
}

.ekyct-btn {
    border: none;
    outline: 0;
    background-color: #3c4043;
    color: #fff;
    padding: 16px;
    cursor: pointer;
    line-height: 0;
    border-radius: 50%
}

.ekyct-btn:hover {
    background-color: #4b5053
}

.ekyct-btn:active {
    background-color: #5a5f63
}

.ekyct-btn:disabled {
    background-color: #2b2d30;
    color: #727275;
    cursor: default
}

.ekyct-btn svg {
    fill: currentColor;
    width: 28px;
    height: 28px
}

.ekyct-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ekyct-capture-region {
    width: 100%;
    height: 100%;
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #161619;
    z-index: 1;
}

.ekyct-zoom-container {
    position: absolute;
    bottom: 2rem;
    right: 50%;
    transform: translateX(50%);
    z-index: 3;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

.ekyct-zoom-container input {
    flex-grow: 1;
}

.ekyct-zoom-container span {
    color: #fff;
}

.ekyct-capture-region:hover .ekyct-zoom-container {
    opacity: 1;
}

.ekyct-hide-shader-border .ekyct-shading {
    overflow: hidden
}

.ekyct-circle-region {
    display: none
}

.ekyct-hide-shader-border .ekyct-circle-region {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
    border-radius: 50%;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, .5)
}

.ekyct-circle-region-point {
    width: 4px;
    height: 16px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    border-radius: 4px;
    transition: 10ms ease-out
}

.ekyct-circle-region-point--marked {
    background-color: #0f0;
    box-shadow: 0 0 10px #0f0
}

.ekyct-alert,
.ekyct-shader-border {
    background-color: #fff;
    position: absolute
}

.ekyct-footer {
    display: flex;
    align-items: center;
}

.ekyct-footer,
.ekyct-header {
    width: 100%;
    flex-grow: 1;
}

.ekyct-header--inner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px
}

.ekyct-header--inner .ekyct-btn {
    padding: 6px
}

.ekyct-footer--inner {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 1rem
}

.ekyct-cam-error {
    width: 100%;
    height: 100%
}

.ekyct-cam-error--inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.ekyct-cam-error--inner p,
.ekyct-cam-error--inner span {
    color: #ff5100;
    font-size: 12px;
    text-align: center
}

.ekyct-cam-error--inner svg {
    fill: currentColor;
    width: 100px;
    height: 100px
}

.ekyct-shading {
    position: absolute;
    border-style: solid;
    border-color: rgba(0, 0, 0, .5);
    z-index: 2;
}

.ekyct-video {
    width: 100%;
    display: block;
    position: absolute;
    z-index: -2;
}

.ekyct-alert {
    top: 10px;
    right: -10px;
    transform: translateX(100%);
    border-radius: 4px;
    font-size: 12px;
    transition: .2s ease-out;
    max-width: 80%;
    text-align: left;
    display: flex;
    z-index: 101;
}

.ekyct-alert-header {
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    padding: 8px 0 8px 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ekyct-alert.ekyct-alert-column {
    flex-direction: column;
}

.ekyct-alert.ekyct-alert-reverse {
    flex-direction: row-reverse;
}

.ekyct-alert-column.ekyct-alert-reverse {
    flex-direction: column-reverse;
}

.ekyct-alert-reverse .ekyct-alert-header {
    padding: 8px 4px 8px 0;
}

.ekyct-alert-column .ekyct-alert-header {
    padding: 4px 8px;
    gap: 8px;
    flex-direction: row;
}

.ekyct-alert-header .ekyct-alert-close-btn {
    background-color: unset;
    color: rgba(0, 0, 0, 0.6);
    padding: 0;
}

.ekyct-alert-header .ekyct-alert-close-btn:hover {
    color: rgba(0, 0, 0, 0.8);
}

.ekyct-alert-header .ekyct-alert-close-btn:active {
    color: #000;
}

.ekyct-alert-header .ekyct-alert-close-btn svg {
    width: 16px;
    height: 16px;
}

.ekyct-alert-title {
    font-weight: 700;
    font-size: 16px;
    flex-grow: 1;
    vertical-align: middle;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal
}

.ekyct-alert-body {
    padding: 8px;
}

.ekyct-alert.warning {
    border: 1px solid #ffae00;
    color: #ffae00
}

.ekyct-alert.active {
    right: 10px;
    transform: translateX(0)
}

.ekyct-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100
}

.ekyct-loader-content {
    position: relative;
    width: 48px;
    height: 48px
}

.ekyct-loader-content span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(36deg * var(--i)))
}

.ekyct-loader-content span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(254, 254, 254, .8);
    transform: scale(0);
    animation: 1s linear infinite loaderAnimate;
    animation-delay: calc(.1s * var(--i))
}

@keyframes loaderAnimate {
    0% {
        transform: scale(1)
    }

    100%,
    80% {
        transform: scale(0)
    }
}

.ekyct-circular-progress {
    position: absolute;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}


.ekyct-circular-progress svg {
    width: 100%;
    height: 100%;
    transform: rotate(270deg);
}

.ekyct-circular-progress svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 3;
    stroke: #191919;
    transform: translate(6px, 6px);
}

.ekyct-circular-progress svg circle:last-child {
    stroke: #0f0;
    stroke-dasharray: 252;
    stroke-dashoffset: calc(252 - (252 * var(--percent)) / 100);
}

.ekyct-circular-progress span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}


@media (min-width:768px) {

    .ekyct-alert,
    .ekyct-cam-error--inner p,
    .ekyct-cam-error--inner span {
        font-size: 14px
    }

    .ekyct-alert-header {
        padding: 10px 0 10px 6px;
    }

    .ekyct-alert-reverse .ekyct-alert-header {
        padding: 10px 6px 10px 0;
    }

    .ekyct-alert-column .ekyct-alert-header {
        padding: 6px 10px;
        gap: 10px;
    }

    .ekyct-alert-reverse.ekyct-alert-column .ekyct-alert-header {
        border-top: 1px solid rgba(0, 0, 0, .08);
        border-bottom: unset;
    }

    .ekyct-alert-header .ekyct-alert-close-btn svg {
        width: 18px;
        height: 18px;
    }

    .ekyct-alert-title {
        font-size: 18px;
    }

    .ekyct-alert-body {
        padding: 10px
    }

    .ekyct-cam-error--inner svg {
        width: 140px;
        height: 140px
    }

    .ekyct-loader-content {
        width: 54px;
        height: 54px
    }

    .ekyct-loader-content span::before {
        width: 14px;
        height: 14px
    }
}

@media (min-width:992px) {

    .ekyct-loader-content {
        width: 60px;
        height: 60px
    }

    .ekyct-loader-content span::before {
        width: 16px;
        height: 16px
    }
}